<div id="background">
    <div id="textbar">
        <h1>{{ 'experience.menu.title' | translate }}</h1>
        <h2>
            {{ 'experience.menu.subtitle' | translate }}
        </h2> 

        <div class="group">
            <div class="group_title">{{ 'experience.schools.main_title' | translate }}</div>

            <div class="group_subtitle">{{ 'experience.schools.lo3.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/exp_logos/lo3.png" alt="PUT_logo"/>
                <p>{{ 'experience.schools.lo3.text' | translate }}</p>
            </div>

            <div class="group_subtitle">{{ 'experience.schools.pp.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/exp_logos/put.png" alt="PUT_logo"/>
                <p>{{ 'experience.schools.pp.text' | translate }}</p>
            </div>
        </div>

        <div class="group">
            <div class="group_title">{{ 'experience.jobs.title' | translate }}</div>

            <div class="group_subtitle">{{ 'experience.jobs.fourthFloor.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/exp_logos/4th_floor.png" alt="4th_Floor_logo"/>
                <p>{{ 'experience.jobs.fourthFloor.text' | translate }}</p>
            </div>
        </div>
    </div>
</div>