#background {
    padding-top: 10vh;
    .wallpaper {
        background: url('/assets/backgrounds/background3.jpg');
        filter: blur(5px) brightness(60%);
    }
    #textbar {
        flex-direction: column;
        width: 75vw;
        background-color: #ddd;

        .group {
            flex-direction: column;
            width: 100%;
            margin: 5vh 0;
            .group_title {
                margin-bottom: 5vh;
            }
            .group_subtitle {
                margin: 10vh 2vw 5vh 2vw;
                align-self: start;
                text-align: left;
            }
            .group_row {
                width: 100%;
                margin: 3vh 0;
                justify-content: start;
                img {
                    max-height: 30vh;
                    max-width: 30vh;
                }
                p {
                    margin-left: 5vw;
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .group_row {
        img {
            margin-bottom: 10vh;
        }
        flex-direction: column;
    }
}