<div id="background">
    <div class="wallpaper"></div>
    <div id="textbar">
        <header>
            <h1 class="tab_title">{{ 'experience.menu.title' | translate }}</h1>
            <p class="tab_subtitle">
                {{ 'experience.menu.subtitle' | translate }}
            </p> 
        </header>

        <div class="group">
            <h2 class="group_title">{{ 'experience.schools.main_title' | translate }}</h2>

            <h3 class="group_subtitle">{{ 'experience.schools.lo3.title' | translate }}</h3>
            <div class="group_row">
                <a href="http://lo3.edu.pl/" target="_blank"><img src="/assets/exp_logos/lo3.png" alt="PUT_logo"/></a>
                <p>{{ 'experience.schools.lo3.text' | translate }}</p> 
            </div>

            <h3 class="group_subtitle">{{ 'experience.schools.pp.title' | translate }}</h3>
            <div class="group_row">
                <a href="https://www.put.poznan.pl/pl/wydzialy/wydzial-informatyki-i-telekomunikacji" target="_blank"><img src="/assets/exp_logos/put.png" alt="PUT_logo"/></a>
                <p>{{ 'experience.schools.pp.text' | translate }}</p>
            </div>
        </div>

        <div class="group">
            <h2 class="group_title">{{ 'experience.jobs.title' | translate }}</h2>

            <h4 class="group_subtitle">{{ 'experience.jobs.geotech.title' | translate }}</h4>
            <div class="group_row">
                <a href="/#/experience" target="_blank"><img src="/assets/exp_logos/geotech.png" alt="4th_Floor_logo"/></a>
                <p>{{ 'experience.jobs.geotech.text' | translate }}</p>
            </div>

            <h4 class="group_subtitle">{{ 'experience.jobs.fourthFloor.title' | translate }}</h4>
            <div class="group_row">
                <a href="http://www.4thfloorhotel.is/" target="_blank"><img src="/assets/exp_logos/4th_floor.png" alt="4th_Floor_logo"/></a>
                <p>{{ 'experience.jobs.fourthFloor.text' | translate }}</p>
            </div>
        </div>
    </div>
</div>