#background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #454372;
    padding-top: 15vh;
    width: 98vw;
    #textbar {
        flex-direction: column;
        width: 75vw;
        padding: 10vh;
        background-color: #ddd;

        .projectContainer {
            width: 100%;
            background-color: #9CC0C2;
            padding: 10vh 10vw;
            table, tbody, tr {
                width: 100%;
            }
            tr {
                justify-content: space-around;
            }
        }
    }
}