#background {
    padding-top: 10vh;
    .wallpaper {
        background: url('/assets/backgrounds/background3.jpg');
    }
    #textbar {
        flex-direction: column;
        width: 75vw;
        padding: 10vh;
        background-color: #ddd;

        .projectContainer {
            width: 100%;
            background-color: #9CC0C2;
            padding: 15vh 0vw;
            justify-content: center;
            
            & > * {
                margin: 0 2vw;
            }
        }
    }
}