<div id="background">
    <div id="textbar">
        <h1>Projekty</h1>
        <h2>W tej sekcji wymienię projekty, które wykonałem bądź były w 
            trakcie realizacji przeze mnie
        </h2>
        <table class="projectContainer">
            <tbody>
                <tr>
                    <td><a class="project" id="project1" href="/projects/small">Małe</a></td>
                    <td><a class="project" id="project2" href="/projects/medium">Średnie</a></td>
                    <td><a class="project" id="project3" href="/projects/large">Duże</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 