<div id="background">
    <div id="textbar">
        <div class="textbar_about_me">
            <h1>Witam Cię bardzo serdecznie</h1>
            <div class="textbar_about_me_org1">
                <img src="assets/illustrations/me_outline.png" id="my_photo" alt="">
                <div class="textbar_about_me_org2"> 
                    <p>Nazywam się Hubert Siwczyński, mam 20 lat i interesuję się Informatyką od kiedy pamiętam</p>
                    <p>W tym portfolio chciałbym Ci pokazać kim jestem oraz rzeczy, którymi się interesuję</p>
                </div> 
            </div>
        </div>
        <div class="textbar_about_me" id="new_things">
            <h2>Kocham odkrywać nowe rzeczy</h2>
            <div class="textbar_about_me_org1">
                <div class="textbar_about_me_org2">
                    <p>
                        Jak dotąd każdy nowy projekt, który zrobiłem ma w sobie coś innego. Zawsze dbam o to, żeby
                        to co robie było kreatywne i przyciągało uwagę innych. Lubię dopieszczać detale, 
                        aczkolwiek robię to już po wykonanej głównej pracy
                    </p>
                    <img src="assets/illustrations/1_fin.png" id="picture_1" alt="">
                </div>
            </div>
        </div>
        <div class="textbar_about_me" id="new_things">
            <h2>Staram się rozwijać w wielu dziedzinach</h2>
            <div class="textbar_about_me_org1">
                <div class="textbar_about_me_org2">
                    <p>
                        W swoim życiu celuję w wszechstronność. Główną trasą, którą sobie wyznaczyłem jest tworzenie
                        aplikacji webowych, aczkolwiek staram się rozwijać także swoje inne,
                        komputerowe pasje, tj. tworzenie gier, obróbka grafiki, rysowanie, 
                        tworzenie muzyki czy montaż filmów.
                    </p>
                    <img src="assets/illustrations/2_fin.png" id="picture_2" alt="">
                </div>
            </div>
        </div>

        <div class="textbar_about_me" id="new_things">
            <h2>To ja - Hubert się nazywam</h2>
            <div class="textbar_about_me_org1">
                <img src="assets/illustrations/3_fin.png" id="picture_3" alt="">
                <div class="textbar_about_me_org2">
                    <p>
                        Jestem osobą dość stałą i niereformowalną. Lubię nowe znajomości twarzą w twarz.
                        Jestem odważny co do nowych rzeczy. 
                    </p>
                    <p>
                        Nigdy się nie obrażam, nie pałam gniewem ani 
                        nie próbuję nikogo oszukać. Potrafię być szczerym do bólu. Nie lubię zbyt sztywnej 
                        atmosfery.
                    </p>
                    <p>
                        Jestem z tych co chodzą spać o 3:00, a wstają o 11:00 - wstawanie o 6 
                        czy 7 mnie niszczy ;)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 