.slideBar_wrapper {
    transform: none;
}
.slideBar_close_active {
    transform: translateY(-88%);
}

#footer_main {
    transform: none;
}
.foot_close_slide_animaion {
    transform: translateX(-100%) !important;
}
.foot_close_rotate_animaion {
    transform: rotate(-720deg);
}

#background {
    background-color: #474749;
    width: 98vw;
    #textbar {
        flex-direction: column;
        width: 75vw; 
        margin: 10vh 15vh 0 0;
        padding-top: 5vh;
        background-color: #ddd;
        color: #222;

        .textbar_about_me {
            max-width: 100%;
            padding: 5vw 10vh;
            flex-direction: column;
            h1 {
                padding-bottom: 3vh;
                font-size: 2.5vw !important;
                font-weight: bold;
            }
            
            h2 {
                font-size: 2vw;
                font-weight: bold;
            }
            
            p {
                font-size: 1.5vw;
                margin-bottom: 5vw;
                padding: 0 5vw;
            }
            .textbar_about_me_org1 {
                border-bottom: 3px solid #EDB915;
                padding-bottom: 10vh;
                margin-top: 10vh;
            }
            .textbar_about_me_org2 {
                flex-direction: column;
                max-width: 50%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            .textbar_about_me_org3 {
                flex-direction: column; 
            }
            h1 {
                font-size: 25px;
                margin-bottom: 5vh;
            }
        }
    }
    #my_photo {
        width: 20vw;
        margin-right: 5vw;
    }
    #picture_1 {
        width: 40vw;
    }
    #picture_2 {
        width: 70vw;
    }
    #picture_3{
        width: 30vw;
        margin-right: 2vw;
    }
}