<div id="background">
    <div id="textbar">
        <div class="textbar_about_me">
            <h1>{{ 'main.title.text' | translate }}</h1>
            <div class="textbar_about_me_org1">
                <img src="assets/illustrations/me_outline.png" id="my_photo" alt="">
                <div class="textbar_about_me_org2"> 
                    <p>{{ 'main.title.subtext1' | translate }} {{birthDate}} {{ 'main.title.subtext2' | translate }}</p>
                </div> 
            </div>
        </div>
        <div class="textbar_about_me" id="new_things">
            <h2>{{ 'main.paragraphs.first.title' | translate }}</h2>
            <div class="textbar_about_me_org1">
                <div class="textbar_about_me_org3">
                    <p>
                        {{ 'main.paragraphs.first.text' | translate }}
                    </p>
                    <img src="assets/illustrations/1_fin.png" id="picture_1" alt="">
                </div>
            </div>
        </div>
        <div class="textbar_about_me" id="new_things">
            <h2>{{ 'main.paragraphs.second.title' | translate }}</h2>
            <div class="textbar_about_me_org1">
                <div class="textbar_about_me_org3">
                    <p>
                        {{ 'main.paragraphs.second.text' | translate }}
                    </p>
                    <img src="assets/illustrations/2_fin.png" id="picture_2" alt="">
                </div>
            </div>
        </div>

        <div class="textbar_about_me" id="new_things">
            <h2>{{ 'main.paragraphs.third.title' | translate }}</h2>
            <div class="textbar_about_me_org1">
                <img src="assets/illustrations/3_fin.png" id="picture_3" alt="">
                <div class="textbar_about_me_org2">
                    <p>
                        {{ 'main.paragraphs.third.text' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 