#background {
    padding-top: 10vh;
    .wallpaper {
        background: url('/assets/backgrounds/background3.jpg');
        filter: hue-rotate(270deg) blur(5px) brightness(60%);
    }
    #textbar {
        flex-direction: column;
        width: 75vw;
        background-color: #ddd;

        .group {
            flex-direction: column;
            width: 100%;
            margin: 5vh 0;
            .group_title {
                margin-bottom: 5vh;
            }
            .group_subtitle {
                margin: 2vh 10vw;
                align-self: start;

            }
            .group_row {
                max-width: 70vw;
                min-width: 70vw;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding-bottom: 5vh;
                margin: 3vh 0;      
            }
        }
    }
}