<div id="background">
    <div id="textbar">
        <div class="group">
            <div class="group_title">Programy Adobe</div>
            <div class="group_row">
                <img src="/assets/skill_logos/photoshop.png" class="group_item" routerLink="/skills/photoshop"/>
                <img src="/assets/skill_logos/illustrator.png" class="group_item" routerLink="/skills/illustrator"/>
            </div>
        </div>
        <div class="group">
            <div class="group_title">Języki programowania, markupy i bazy danych</div>

            <div class="group_subtitle">Języki Webowe</div>
            <div class="group_row">
                <img src="/assets/skill_logos/html5.png" class="group_item" routerLink="/skills/html"/>
                <img src="/assets/skill_logos/xml.png" class="group_item" routerLink="/skills/xml"/>
                <img src="/assets/skill_logos/css3.png" class="group_item" routerLink="/skills/css"/>
                <img src="/assets/skill_logos/js.png" class="group_item" routerLink="/skills/javascript"/>
                <img src="/assets/skill_logos/php.png" class="group_item" routerLink="/skills/php"/>
                <img src="/assets/skill_logos/ts.png" class="group_item" routerLink="/skills/typescript"/>
            </div>

            <div class="group_subtitle">Języki desktopowe</div>
            <div class="group_row">
                <img src="/assets/skill_logos/cpp.png" class="group_item" routerLink="/skills/cpp"/>
                <img src="/assets/skill_logos/python.png" class="group_item" routerLink="/skills/python"/>
            </div>

            <div class="group_subtitle">Języki bazodanowe</div>
            <div class="group_row">
                <img src="/assets/skill_logos/sql.png" class="group_item" routerLink="/skills/sql"/>
                <img src="/assets/skill_logos/mongodb.png" class="group_item" routerLink="/skills/mongodb"/>
                <img src="/assets/skill_logos/firebase.png" class="group_item" routerLink="/skills/firebase"/>
            </div>
        </div>

        <div class="group">
            <div class="group_title">Biblioteki i Frameworki</div>

            <div class="group_subtitle">JavaScript</div>
            <div class="group_row">
                <img src="/assets/skill_logos/nodejs.png" class="group_item" routerLink="/skills/nodejs"/>
                <img src="/assets/skill_logos/react.png" class="group_item" routerLink="/skills/react"/>
                <img src="/assets/skill_logos/angular.png" class="group_item" routerLink="/skills/angular"/>
                <img src="/assets/skill_logos/nextjs.png" class="group_item" routerLink="/skills/nextjs"/>
                <img src="/assets/skill_logos/jquery.png" class="group_item" routerLink="/skills/jquery"/>
                <img src="/assets/skill_logos/webpack.png" class="group_item" routerLink="/skills/webpack"/>
            </div>
            
            <div class="group_subtitle">HTML/CSS</div>
            <div class="group_row">
                <img src="/assets/skill_logos/pug.png" class="group_item" routerLink="/skills/pug"/>
                <img src="/assets/skill_logos/less.png" class="group_item" routerLink="/skills/less"/>
                <img src="/assets/skill_logos/sass.png" class="group_item" routerLink="/skills/sass"/>
            </div>

            <div class="group_subtitle">PHP</div>
            <div class="group_row">
                <img src="/assets/skill_logos/symfony.png" class="group_item" routerLink="/skills/symfony"/>
            </div>

            <div class="group_subtitle">C++</div>
            <div class="group_row">
                <img src="/assets/skill_logos/sfml.png" class="group_item" routerLink="/skills/sfml"/>
            </div>
        </div>

        <div class="group">
            <div class="group_title">Języki tradycyjne</div>

            <div class="group_row">
                <img src="/assets/skill_logos/polish.png" class="group_item" routerLink="/skills/polish"/>
                <img src="/assets/skill_logos/english.png" class="group_item" routerLink="/skills/english"/>
                <img src="/assets/skill_logos/german.png" class="group_item" routerLink="/skills/german"/>
                <img src="/assets/skill_logos/russian.png" class="group_item" routerLink="/skills/russian"/>
            </div>
        </div>
    </div>
</div> 