<div id="background">
    <div id="textbar">
        <h1 class="tab_title">{{ 'skills.menu.title' | translate }}</h1>
        <subhead class="tab_subtitle">
            {{ 'skills.menu.subtitle' | translate }}
        </subhead>
        <div class="group">
            <h2 class="group_title">{{ 'skills.group1.title' | translate }}</h2>
            <div class="group_row">
                <app-skill skillName="photoshop" imgName="photoshop"></app-skill>
                <app-skill skillName="illustrator" imgName="illustrator"></app-skill>
            </div>
        </div>
        <div class="group">
            <h2 class="group_title">{{ 'skills.group2.title' | translate }}</h2>

            <h3 class="group_subtitle">{{ 'skills.group2.subgroup1' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="html" imgName="html5"></app-skill>
                <app-skill skillName="css" imgName="css3"></app-skill>
                <app-skill skillName="javascript" imgName="js"></app-skill>
                <app-skill skillName="php" imgName="php"></app-skill>
            </div>

            <h3 class="group_subtitle">{{ 'skills.group2.subgroup2' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="cpp" imgName="cpp"></app-skill>
                <app-skill skillName="python" imgName="python"></app-skill>
            </div>

            <h3 class="group_subtitle">{{ 'skills.group2.subgroup3' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="sql" imgName="sql"></app-skill>
                <app-skill skillName="mongodb" imgName="mongodb"></app-skill>
                <app-skill skillName="firebase" imgName="firebase"></app-skill>
            </div>
        </div>

        <div class="group">
            <h2 class="group_title">{{ 'skills.group3.title' | translate }}</h2>

            <h3 class="group_subtitle">{{ 'skills.group3.subgroup1' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="nodejs" imgName="nodejs"></app-skill>
                <app-skill skillName="react" imgName="react"></app-skill>
                <app-skill skillName="angular" imgName="angular"></app-skill>
                <app-skill skillName="nextjs" imgName="nextjs"></app-skill>
                <app-skill skillName="jquery" imgName="jquery"></app-skill>
            </div>
            
            <h3 class="group_subtitle">{{ 'skills.group3.subgroup2' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="pug" imgName="pug"></app-skill>
                <app-skill skillName="less" imgName="less"></app-skill>
                <app-skill skillName="sass" imgName="sass"></app-skill>
            </div>

            <h3 class="group_subtitle">{{ 'skills.group3.subgroup3' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="symfony" imgName="symfony"></app-skill>
            </div>

            <h3 class="group_subtitle">{{ 'skills.group3.subgroup4' | translate }}</h3>
            <div class="group_row">
                <app-skill skillName="sfml" imgName="sfml"></app-skill>
            </div>
        </div>

        <div class="group">
            <h2 class="group_title">{{ 'skills.group5.title' | translate }}</h2>
            <div class="group_row">
                <app-skill skillName="flstudio" imgName="flstudio"></app-skill>
                <app-skill skillName="audacity" imgName="audacity"></app-skill>
            </div>
        </div>

        <div class="group">
            <h2 class="group_title">{{ 'skills.group6.title' | translate }}</h2>
            <div class="group_row">
                <app-skill skillName="sonyvegas" imgName="sonyvegas"></app-skill>
                <app-skill skillName="hitfilm" imgName="hitfilm"></app-skill>
            </div>
        </div>

        <div class="group">
            <h2 class="group_title">{{ 'skills.group7.title' | translate }}</h2>
            <div class="group_row">
                <app-skill skillName="word" imgName="word"></app-skill>
                <app-skill skillName="excel" imgName="excel"></app-skill>
                <app-skill skillName="access" imgName="access"></app-skill>
                <app-skill skillName="powerpoint" imgName="powerpoint"></app-skill>
                <app-skill skillName="outlook" imgName="outlook"></app-skill>
            </div>
        </div>
        
        <div class="group">
            <h2 class="group_title">{{ 'skills.group4.title' | translate }}</h2>

            <div class="group_row">
                <app-skill skillName="polish" imgName="polish"></app-skill>
                <app-skill skillName="english" imgName="english"></app-skill>
                <app-skill skillName="german" imgName="german"></app-skill>
                <app-skill skillName="russian" imgName="russian"></app-skill>
            </div>
        </div>
    </div>
</div> 