<div id="background">
    <div id="textbar">
        <h1 class="tab_title">{{ 'skills.menu.title' | translate }}</h1>
        <h2 class="tab_subtitle">
            {{ 'skills.menu.subtitle' | translate }}
        </h2>
        <div class="group">
            <div class="group_title">{{ 'skills.group1.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/photoshop.png" class="group_item" routerLink="/skills/photoshop"/>
                <img src="/assets/skill_logos/illustrator.png" class="group_item" routerLink="/skills/illustrator"/>
            </div>
        </div>
        <div class="group">
            <div class="group_title">{{ 'skills.group2.title' | translate }}</div>

            <div class="group_subtitle">{{ 'skills.group2.subgroup1' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/html5.png" class="group_item" routerLink="/skills/html"/>
                <img src="/assets/skill_logos/css3.png" class="group_item" routerLink="/skills/css"/>
                <img src="/assets/skill_logos/js.png" class="group_item" routerLink="/skills/javascript"/>
                <img src="/assets/skill_logos/ts.png" class="group_item" routerLink="/skills/typescript"/>
                <img src="/assets/skill_logos/php.png" class="group_item" routerLink="/skills/php"/>
            </div>

            <div class="group_subtitle">{{ 'skills.group2.subgroup2' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/cpp.png" class="group_item" routerLink="/skills/cpp"/>
                <img src="/assets/skill_logos/python.png" class="group_item" routerLink="/skills/python"/>
            </div>

            <div class="group_subtitle">{{ 'skills.group2.subgroup3' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/sql.png" class="group_item" routerLink="/skills/sql"/>
                <img src="/assets/skill_logos/mongodb.png" class="group_item" routerLink="/skills/mongodb"/>
                <img src="/assets/skill_logos/firebase.png" class="group_item" routerLink="/skills/firebase"/>
            </div>
        </div>

        <div class="group">
            <div class="group_title">{{ 'skills.group3.title' | translate }}</div>

            <div class="group_subtitle">{{ 'skills.group3.subgroup1' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/nodejs.png" class="group_item" routerLink="/skills/nodejs"/>
                <img src="/assets/skill_logos/react.png" class="group_item" routerLink="/skills/react"/>
                <img src="/assets/skill_logos/angular.png" class="group_item" routerLink="/skills/angular"/>
                <img src="/assets/skill_logos/nextjs.png" class="group_item" routerLink="/skills/nextjs"/>
                <img src="/assets/skill_logos/jquery.png" class="group_item" routerLink="/skills/jquery"/>
            </div>
            
            <div class="group_subtitle">{{ 'skills.group3.subgroup2' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/pug.png" class="group_item" routerLink="/skills/pug"/>
                <img src="/assets/skill_logos/less.png" class="group_item" routerLink="/skills/less"/>
                <img src="/assets/skill_logos/sass.png" class="group_item" routerLink="/skills/sass"/>
            </div>

            <div class="group_subtitle">{{ 'skills.group3.subgroup3' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/symfony.png" class="group_item" routerLink="/skills/symfony"/>
            </div>

            <div class="group_subtitle">{{ 'skills.group3.subgroup4' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/sfml.png" class="group_item" routerLink="/skills/sfml"/>
            </div>
        </div>

        <div class="group">
            <div class="group_title">{{ 'skills.group5.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/flstudio.png" class="group_item" routerLink="/skills/flstudio"/>
                <img src="/assets/skill_logos/audacity.png" class="group_item" routerLink="/skills/audacity"/>
            </div>
        </div>

        <div class="group">
            <div class="group_title">{{ 'skills.group6.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/sonyvegas.png" class="group_item" routerLink="/skills/sonyvegas"/>
                <img src="/assets/skill_logos/hitfilm.png" class="group_item" routerLink="/skills/hitfilm"/>
            </div>
        </div>

        <div class="group">
            <div class="group_title">{{ 'skills.group7.title' | translate }}</div>
            <div class="group_row">
                <img src="/assets/skill_logos/word.png" class="group_item" routerLink="/skills/word"/>
                <img src="/assets/skill_logos/excel.png" class="group_item" routerLink="/skills/excel"/>
                <img src="/assets/skill_logos/access.png" class="group_item" routerLink="/skills/access"/>
                <img src="/assets/skill_logos/powerpoint.png" class="group_item" routerLink="/skills/powerpoint"/>
                <img src="/assets/skill_logos/outlook.png" class="group_item" routerLink="/skills/outlook"/>
            </div>
        </div>
        
        <div class="group">
            <div class="group_title">{{ 'skills.group4.title' | translate }}</div>

            <div class="group_row">
                <img src="/assets/skill_logos/polish.png" class="group_item" routerLink="/skills/polish"/>
                <img src="/assets/skill_logos/english.png" class="group_item" routerLink="/skills/english"/>
                <img src="/assets/skill_logos/german.png" class="group_item" routerLink="/skills/german"/>
                <img src="/assets/skill_logos/russian.png" class="group_item" routerLink="/skills/russian"/>
            </div>
        </div>
    </div>
</div> 