.item_description_wrapper {
    flex-direction: column;
    p {
        color: #002A32;
        font-size: max(18px, 1.75vw);
        margin-top: 15px;
    }
    &:hover p {
        color: #816913;
    }
}

.item_wrapper {
    position: relative;
    z-index: 5;
    width: 12vw; 
    height: 12vw;
    min-width: 100px;
    min-height: 100px;
    border: #3E657C 5px solid;
    border-radius: 10%; 
    overflow: hidden;
    cursor: pointer;
    text-align: center;

    img {
        scale: 105%;
        transition: scale 200ms;
        &:hover {
            scale: 150%;
        }
    }
    &:hover {
        border: #E2C044 5px solid;
    }

    .group_item {
        width: inherit; 
        height: inherit;
        min-width: inherit;
        min-height: inherit;
    }
}