body *{
  display: flex;
  justify-content: center;
  align-items: center;
}

$topNav_length: 10vh;
$topNav_min_height: 55px;
$topNav_home_select_pad: 10vw;

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #EC6C34;

  .topNav {
    z-index: 5;
    justify-content: space-around;
    padding: 0 2em;
    width: 100%;
    min-height: $topNav_min_height;
    background-color: #D7882E;
    border-bottom: 2px solid #EDB915;


    #topNav_home_container{
      padding: 0 $topNav_home_select_pad;
      #topNav_home {
        border-radius: 50%;
        width: $topNav_length;
        height: $topNav_length;
        box-shadow: 0 0 0 2vw #A74839;
        background-color: #C05746;
        opacity: 80%;
        cursor: pointer;
        transition: font-size  0.3s, 
                    opacity 0.3s;

        &:hover {
          opacity: 100%;
          font-size: 22px;
        }
        p {
          color: #ddd;
          font-size: 4vh;
        }
      }
    }

    #topNav_buttons {
      justify-content: space-between;
      width: 70%;
      min-width: 50%;
      //border-left: #C05746 2px solid; 
      //border-right: #C05746 2px solid;
      a {
        width: 75%;
        height: $topNav_length;
        text-align: center;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25vw;
        color: #222;
        text-transform: uppercase;
        cursor: pointer;

        transition: background-color 0.2s,
                    font-size 0.1s,
                    color 0.3s;

        &:hover {
          background-color: #C05746;
          font-size: 1.2vw;
          color: #ddd;
        }
      }
    }

    #topNav_select_container {
      padding: 0 $topNav_home_select_pad;
      #topNav_select {
        min-height: $topNav_min_height / 2;
        height: 4vw;
        max-height: $topNav_length * 0.6;
        border-radius: 5px;
        border: 1px black solid;
        cursor: pointer;
        font-size: 1vw;
        width: 10vw; 
      }
    }
  }
  .slideBar_wrapper{
    z-index: 4;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 40vh;
    transition: 0.2s ease-in;

    .slideBar{
      flex-direction: column;
      align-items: start;
      width: 100%;
      height: 100%;
      border-radius: 0 0 60% 0;
      background-color: #E4B311;
      border-bottom: #C05746 10px solid;

      $h1_left_padding: 10vw;
      $h1_font_size: 8vh;

      .mushroom_container {
        position: absolute;
        left: 15vw;
        bottom: 5vw;
        opacity: 80%;
        #first_mush {
          transform: rotate(60deg);
        }
        #second_mush {
          left: 7vw;
          transform: rotate(-10deg);
        }
        img {
          position: absolute;
          width: 4vw;
          height: 4vw;
        }
      }

      .salami_container {
        position: absolute;
        margin-left: 20px;
        left: 75vw;
        top: -5vh;
        width: 15vw;
        height: 30vh;
        opacity: 70%;
        #first_sal {
          top: 10vh;
          left: 2vw;
          transform: rotate(80deg);
        }
        #second_sal {
          bottom: 0;
          left: 2vw;
        }
        #third_sal {
          left: 10vw;
          transform: rotate(-60deg);
        }
        img {
          position: absolute;
          width: 4vw;
          height: 4vw;
        }
      }
      .slidebar_title_wrapper {
        max-width: 70vw;
        height: 100%;
        flex-direction: column;
        #slideBar_title {
          font-size: 4vw; 
          position: relative;
          z-index: 3;
          transform: translateX($h1_left_padding);
          transition: transform 0.1s ease-in;
        } 
        #slideBar_subtitle {
          font-size: 1.75vw;
          position: relative;
          z-index: 3;
          margin-top: 2vh;
          transform: translateX($h1_left_padding * 2);
          transition: transform 0.1s ease-in;
        }
        #slideBar_title, #slideBar_subtitle {
          background-color: rgba(192, 87, 70, 0.6);
          border-radius: 5%;
          padding: 1vh 2vw;
          color: #ddd;
        }
      }
    }
    
    #slideBar_close {
      z-index: -1;
      position: absolute;
      right: 5%;
      bottom: 5%;
      height: 30vh;
      width: 50vw;
      background-color: #C05746;
      cursor: pointer;
      transition: 0.2s ease-in;

      &:hover {
        transform: translateY(1%) translateX(1%) skewY(2deg);
      }
    }
  }
}

footer {
  $footer_closing_transition: 750ms;

  $footer_height: 25vh;
  $max_footer_height: 100px;
  $min_footer_height: 70px;

  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: $max_footer_height;
  border-radius: 20% 0 0 0;

  #footer_main {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-top: 5px solid #E4B311;
    //border-right: 5px solid #E4B311;
    border-radius: 30% 10% 0 0;
    background-color: #C05746;
    transition: $footer_closing_transition ease-in-out;

    #footer_media {
      width: 40%;
      justify-content: space-around;
      background-color: rgb(215, 136, 46);
      border-radius: 10px;
      padding: 2vh 5vw;
    }

    header {
      font-size: 2.5vw;
      text-align: right;
      background-color: #E4B311;
      padding: 1vh 3vw;
      color: #fff;
      border-radius: 10%;
    }

    .media_container {
      height: 5vw;
      width: 5vw;
      border-radius: 50%;
      opacity: 80%; 
      color: #ddd;
      font-size: 3vw;
      cursor: pointer;
      transition: filter 0.5s;
    }
    .media_container:hover {
      filter: brightness(120%);
    }
    .fb_style {
      background-color: #4F70B8;
      color:#fff;
      margin-top: -10px;
      transform: rotate(10deg);
    }
    .gh_style {
      background-color: #7C007C;
      transform: rotate(-30deg);
    }
    .bb_style {
      background-color: #0047B3;
      margin-top: 10px;
      transform: rotate(40deg);
    }
    .em_style {
      background-color: #AC2F20;
      transform: rotate(-20deg);
    }
  }
  #footer_close {
    margin: 0 4vw;
    height: 3.5vw;
    width: 3.5vw;
    font-size: 1.5vw;
    border-radius: 50%;
    border: 0.5vw solid #C05746;
    background-color: #EDB915;
    color: #9b5504;
    cursor: pointer;
    transition: $footer_closing_transition linear,
    background-color 200ms;

    &:hover {
      background-color: #bbb;
    }
  }
}
main {
  z-index: -1;
  position: relative;
  justify-content: start;
  align-items: start;
  width: 100%;
}

@media screen and (max-height: 500px) {
  .mushroom_container {
    bottom: 10vh !important;
  }
}