#main_container {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}
body {
  pointer-events: none;
}
#main_container *{
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

$topNav_length: 8vh;
$topNav_min_height: 55px;
$topNav_home_select_pad: 10vw;

nav {
  position: fixed;
  top: 0;
  width: 100vw;

  .topNav {
    z-index: 5;
    justify-content: space-around;
    padding: 0 2em;
    width: 100%;
    min-height: $topNav_min_height;
    background-color: #333;
    border-bottom: 2px solid #EDB915;


    #topNav_home_container{
      padding: 0 $topNav_home_select_pad;
      #topNav_home {
        transform: rotate(45deg);
        width: 4vw;
        height: 4vw;
        box-shadow: 0 0 0 2vw #C33C54;
        background-color: #CF6377;
        opacity: 80%;
        cursor: pointer;
        transition: font-size  0.3s, 
                    opacity 0.3s;

        &:hover {
          opacity: 100%;
          font-size: 22px;
        }
        p {
          transform: rotate(-45deg);
          color: #fff;
          font-size: 4vh;
        }
      }
    }

    #menu_icon {
      display: none;
    }

    #topNav_buttons {
      justify-content: space-between;
      width: 70%;
      min-width: 50%;
      //border-left: #C05746 2px solid; 
      //border-right: #C05746 2px solid;
      a {
        width: 75%;
        height: $topNav_length;
        text-align: center;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25vw;
        color: #ddd;
        text-transform: uppercase;
        cursor: pointer;

        transition: background-color 0.2s,
                    font-size 0.1s,
                    color 0.3s;

        &:hover {
          color: #E2C044;
        }
      }
    }

    #topNav_select_container {
      padding: 0 $topNav_home_select_pad;
      #topNav_select {
        min-height: $topNav_min_height / 2;
        height: 4vw;
        max-height: $topNav_length * 0.6;
        border-radius: 5px;
        border: 1px #ddd solid;
        cursor: pointer;
        font-size: 1vw;
        width: 10vw; 
      }
    }
  }
  
  .slideBar_wrapper{
    z-index: 4;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 40vh;
    transition: 0.2s ease-in;

    .slideBar{
      position: relative;
      flex-direction: column;
      align-items: start;
      width: 100%;
      height: 100%;
      border-radius: 0 0 60% 0;
      background-color: #E2C044;
      border-bottom: #333 3px solid;

      $h1_left_padding: 10vw;
      $h1_font_size: 8vh;

      .mushroom_container {
        position: absolute;
        left: 15vw;
        bottom: 5vw;
        opacity: 80%;
        #first_mush {
          transform: rotate(60deg);
        }
        #second_mush {
          left: 7vw;
          transform: rotate(-10deg);
        }
        img {
          position: absolute;
          width: 4vw;
          height: 4vw;
        }
      }

      .salami_container {
        position: absolute;
        margin-left: 20px;
        left: 75vw;
        top: -5vh;
        width: 15vw;
        height: 30vh;
        opacity: 70%;
        #first_sal {
          top: 10vh;
          left: 2vw;
          transform: rotate(80deg);
        }
        #second_sal {
          bottom: 0;
          left: 2vw;
        }
        #third_sal {
          left: 10vw;
          transform: rotate(-60deg);
        }
        img {
          position: absolute;
          width: 4vw;
          height: 4vw;
        }
      }
      .slidebar_title_wrapper {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 70vw;
        height: 100%;
        flex-direction: column;
        #slideBar_title {
          font-size: 4vw; 
          position: relative;
          z-index: 3;
          transform: translateX($h1_left_padding);
          transition: transform 0.1s ease-in;
        } 
        #slideBar_subtitle {
          font-size: 1.75vw;
          position: relative;
          z-index: 3;
          margin-top: 2vh;
          transform: translateX($h1_left_padding * 2);
          transition: transform 0.1s ease-in;
        }
        #slideBar_title, #slideBar_subtitle {
          background-color:#C19918;
          border-radius: 5%;
          padding: 1vh 2vw;
          color: #ddd;
        }
      }
    }
    
    #slideBar_close {
      z-index: -1;
      position: absolute;
      right: 5%;
      bottom: 1%;
      height: 30vh;
      width: 50vw;
      background-color: #333;
      cursor: pointer;
      transition: 0.2s ease-in;

      &:hover {
        transform: translateY(1%) translateX(1%) skewY(2deg);
      }
    }
  }
  #mobile_menu {
    display: none;
  }
}

.footbar {
  $footbar_closing_transition: 750ms;

  $footbar_height: 20vh;
  $max_footbar_height: 100px;
  $min_footbar_height: 70px;

  height: 50vh;
  bottom: 0;
  right: 0;
  position: fixed;
  transform: translateX(0px);
  transition: ease-in 200ms;
  border-radius: 20% 0 0 0;

  #footbar_main {
    height: 100%;
    //border-right: 5px solid #E4B311;
    background-color: #333;
    transition: $footbar_closing_transition ease-in-out;

    #footbar_media {
      flex-direction: column;
      width: 10vw;
      height: 100%;
      justify-content: space-around;
      background-color: #333;
    }

    #footbar_bar {
      width: 3vw;
      height: 100%;
      flex-direction: column;
      header {
        height: 100%;
        width: 100%;
        opacity: 80%;
        writing-mode: vertical-rl;
        font-size: 2vw;
        text-align: center;
        background-color: #E4B311;
        color: #fff;
        transform: rotate(180deg);
      }
      #footbar_close {
        pointer-events: all;
        width: 100%;
        height: 5vw;
        font-size: 1.5vw;
        background-color: #C33C54;
        color: #ddd;
        cursor: pointer;
        transition: 300ms ease-in-out,
        background-color 200ms;
    
        &:hover {
          background-color: #bbb;
        }
      }
    }

    .media_container {
      height: 5vw;
      min-height: 30px;
      min-width: 30px;
      width: 5vw;
      border-radius: 50%;
      opacity: 80%; 
      color: #eee;
      font-size: 3vw;
      cursor: pointer;
      transition: filter 0.5s;
    }
    .media_container:hover {
      filter: brightness(120%);
    }
    .fb_style {
      background-color: #4F70B8;
      transform: rotate(10deg);
    }
    .gh_style {
      background-color: #7C007C;
      transform: rotate(-30deg);
    }
    .bb_style {
      background-color: #0047B3;
      transform: rotate(40deg);
    }
    .em_style {
      background-color: #AC2F20;
      transform: rotate(-20deg);
    }
  }
}
main {
  z-index: -1;
  position: relative;
  justify-content: start;
  align-items: start;
  width: 100%;
}

footer {
  padding: 2vw;
  color: #ddd;
  font-size: 1vw;
  a {
    color: #E2C044;
    text-decoration: none;
    margin: 0 7px;
    margin-top: 0.2vw;
    font-weight: bold;
  }
}
@media (max-width: 260px) {
  #mobile_menu {
       flex-direction: column !important;
       &>*{
         margin: 2vh 0;
       }
  }
  #footbar_media {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
@media (max-width: 850px), (max-height: 350px) {
  #menu_icon {
    display: flex !important;
    color: #ddd;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: #C33C54;
    }
  }
  #topNav_home_container {
    display: none !important;
  }
  .slideBar_wrapper {
    display: none !important;
  }
  .toggle_mobile_menu {
    transform: none !important;
  }
  #mobile_menu {
    display: flex !important;
    position: absolute;
    left: 0;
    width: 100vw;
    top: 100%;
    padding: 2vw;
    transform: translateY(-100%);
    transition: ease-in 200ms;
    
    background-color: #333;

    .topNav_home {
      padding: 0 2vw;
      padding-right: 5vw;
      color: #ddd;
      cursor: pointer;
      font-size: 30px;
      transition: color 200ms;
      &:hover{
        color: #C33C54;
      }
    }
    .mobile_cont2 {
      flex-direction: column;
      align-items: flex-start !important;
      border-left: 1px white solid;

      a {
        text-align: left;
          color: #ddd;
          text-decoration: none;
          padding: 2vw 5vw;
          &:hover{
            color: #C33C54;
          }
          &:hover:before {
            background-color: #C33C54;
          }
          &:before {
            display: block;
            content: '';
            margin-right: 5vw;
            width: 15px;
            height: 15px;
            background-color: #E2C044;
            border-radius: 50%;
            transition: background-color 200ms;
          }
      }
    }
    
    #footbar_media {
      flex-direction: column;
    }
    .media_container {
      height: 5vw;
      min-height: 30px;
      min-width: 30px;
      width: 5vw;
      border-radius: 50%;
      margin: 5px 10px;
      opacity: 80%; 
      color: #eee;
      font-size: 20px;
      cursor: pointer;
      transition: filter 0.5s;
    }
    .media_container:hover {
      filter: brightness(120%);
    }
    .fb_style {
      background-color: #4F70B8;
      transform: rotate(10deg);
    }
    .gh_style {
      background-color: #7C007C;
      transform: rotate(-30deg);
    }
    .bb_style {
      background-color: #0047B3;
      transform: rotate(40deg);
    }
    .em_style {
      background-color: #AC2F20;
      transform: rotate(-20deg);
    }
}

  #topNav_select_container {
    #topNav_select {
      position: absolute !important;
      right: 10vw !important;
      font-size: 12px !important;
      width: 100px !important;
      margin-right: 2vw !important;
    }
  }
  
  #topNav_buttons a {
    display: none !important;
  }
  .mushroom_container {
    bottom: 10vh !important;
  }
  .footbar {
    display: none !important;
  }

  footer {
    padding: 5vh 0;
    font-size: 2vw !important;
    white-space: nowrap;
  }
}