<nav>
  <div class='topNav'>
    <div id="topNav_home_container">
      <div id="topNav_home" routerLink="">
        <p>H</p>
      </div>
    </div>
    <div id="topNav_buttons">
      <a href="/projects">{{ 'general.menu.tab2' | translate }}</a>
      <a href="/skills">{{ 'general.menu.tab3' | translate }}</a>
      <a href="/experience">{{ 'general.menu.tab4' | translate }}</a>
    </div>
    <div id="topNav_select_container">
      <select name="" id="topNav_select" (change)="useLanguage(this)">
        <option value="pl">polski</option>
        <option value="en">English</option>
      </select>
    </div>
  </div>

  <div class="slideBar_wrapper">
    <div class="slideBar">
      <h1>{{ 'general.slider.title' | translate }}</h1>
      <h2>{{ 'general.slider.subtitle' | translate }}</h2>
      <div class="salami_container">
        <img src="../assets/illustrations/salami.png" alt="salami" id="first_sal">
        <img src="../assets/illustrations/salami.png" alt="salami" id="second_sal">
        <img src="../assets/illustrations/salami.png" alt="salami" id="third_sal">
      </div>
    </div>
    <div id="slideBar_close" (click)="slideBar_close_active()">

    </div>
  </div>
</nav>

<footer>
  <div id="footer_main">
    <h1>{{ 'general.footer.title' | translate }}</h1>
    <div id="footer_media">
      <a href="https://www.facebook.com/hubert.annonimus/" target="_blank">
        <div class="media_container fb_style">FB</div>
      </a>
      <a href="https://github.com/Hubert13888" target="_blank">
        <div class="media_container gh_style">GH</div>
      </a>
      <a href="https://bitbucket.org/Hubert138881/" target="_blank">
        <div class="media_container bb_style">BB</div>
      </a>
      <div class="media_container em_style">M</div>
    </div>
  </div>
  <div id="footer_close" (click)="foot_toggle()">x</div>
</footer>

<main>
  <router-outlet></router-outlet>
</main>