<div id="background">
    <div id="textbar">
        <div class="group_description">
            <div>{{ 'projects.big_title' | translate }}</div>
        </div> 

        <div class="group" *ngFor='let project of projects'>
            <div class="group_title">{{ 'projects.' + project +'.title' | translate }}</div>

            <div class="group_subtitle">
                <div class="group_subtitle_date">
                    {{ 'general.beginning_date' | translate | titlecase }}:
                    {{ 'projects.' + project +'.date' | translate }}
                </div>
                <div class="group_subtitle_techniques">
                    {{ 'general.technologies' | translate | titlecase }}:
                    {{ 'projects.' + project +'.technologies' | translate }}
                </div>
            </div>
            <div class="group_row">
                <p>{{ 'projects.' + project +'.description' | translate }}</p>
            </div>
            <div class="group_row" *ngIf='urls[project]'>
                <a *ngFor='let url of urls[project]' href="{{url}}" target="_blank">{{url}}</a>
            </div>
            <div id="slider">Tu niedługo będzie slajder zdjęć</div>
        </div>
    </div>
</div>