#background {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15vh;
    width: 98vw;
    #textbar {
        flex-direction: column;
        width: 75vw;
        min-height: 65vh;
        padding: 10vh;
        background-color: #ddd;

        .tab_subtitle {
            text-align: center;
        }

        .group_description {
            padding-bottom: 8vh;
        }
        .group {
            flex-direction: column;
            width: 100%;
            margin: 5vh 0;
            
            .links {
                flex-direction: column;
                a {
                    width: 100%;
                    margin-top: 2vh;
                    text-align: center;
                }
            }

            .group_title {
                margin-bottom: 5vh;
            }
            .group_subtitle {
                margin: 2vh 10vw;
                justify-content: space-between;
                width: 50%;

                .subtitle_info {
                    flex-direction: column;

                    .subtitle_info_title {
                        font-weight: bold;
                    }
                }
            }
            .group_row {
                width: 100%;
                margin: 3vh 0;
                justify-content: start;
                img {
                    min-height: 30vh;
                    max-height: 30vh;
                    min-width: 30vh;
                    max-width: 30vh;
                }
                p {
                    margin-left: 5vw;
                }
            }
            
            & > img {
                max-width: 70vw;
                max-width: 40vh;
            }
        }
    }
}