<div id="background" *ngIf='loadSite;'>
    <div id="textbar">
        <div class="group">
            <h1 class="group_title">{{ 'skills.' + item + '.title' | translate }}</h1>
            <div class="group_row">
                <p>{{ 'skills.' + item + '.description' | translate }}</p>
            </div>
            <a *ngFor="let link of skills[item]" [href]="link" target="_blank">{{link}}</a>
            <app-slider [key]="item" *ngIf="picMap[item]"></app-slider>
        </div>
    </div>
</div>