<div id="background" *ngIf='loadSite;'>
    <div id="textbar">
        <div class="group" *ngIf='item=="photoshop";'>
            <div class="group_title">Adobe photoshop</div>
            <div class="group_row">
                <p>Photoshop is my passion</p>
            </div>
        </div>
        <div class="group" *ngIf='item=="illustrator";'>
            <div class="group_title">Adobe Illustrator</div>
            <div class="group_row">
                <p>But illustrator is more :)</p>
            </div>
        </div>
    </div>
</div>