.slider {
    border-radius: 5%;
    padding:5vw 5vh;

    .image_container {
        min-height: 70vh;
        max-height: 70vh;
        max-width: 60vw;
        width: 60vw;
        border: #3E657C 5px solid;
        background-color: #9CC0C2;
        padding: 2vh 1vw;
    
        img {
            max-height: inherit;
            height: 100%;
            filter: drop-shadow(0px 0px 5px gray);
            border-radius: 10px;
        }
    }

    .slider_fullscreen {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        background-color: red;
        z-index: 5;
    }

    button {
        height: 10vh;
        width: 10vh;

        cursor: pointer;
    }
    .slider_arrow {
        background-color: transparent;
        border: none;
        color: #3E657C;
        font-size: 8vh;
        border-radius: 50%;
        padding-bottom: 5px;
        transition: background-color 250ms;

        &:hover {
            background-color: #9CC0C2;
        }
    }
    .slider_leftArrow {
        margin-right: 2vw;
    }
    .slider_rightArrow {
        margin-left: 2vw;
    }
}
