<div class="slider">
    <button class="slider_leftArrow slider_arrow" *ngIf="pictureRoutes[key].length > 1" (click)="change_picture(false)"><</button>
    <div class="image_container">
        <img [src]="base + pictureRoutes[key][currentIndex]" alt=""/>
    </div>
    <button class="slider_rightArrow slider_arrow" *ngIf="pictureRoutes[key].length > 1" (click)="change_picture(true)">></button>
    <div id="mobile_navigation">
        <button class="slider_mobnav_leftArrow slider_mobnav_arrow" *ngIf="pictureRoutes[key].length > 1" (click)="change_picture(false)"><</button>
        <button class="slider_mobnav_rightArrow slider_mobnav_arrow" *ngIf="pictureRoutes[key].length > 1" (click)="change_picture(true)">></button>
    </div>
</div> 