<div id="background">
    <div id="textbar">
        <div class="group_description">
        W tej sekcji prezentuję projekty największe, takie które miały wyjść do publiki bądz posiadają inne znaczenie
        </div>

        <div class="group">
            <div class="group_title">The squirreldragon</div>

            <div class="group_subtitle">Politechnika Poznańska wydział Informatyki i Telekomunikacji</div>
            <div class="group_row">
                <img src="/assets/illustrations/me_outline.png" alt="PUT_logo"/>
                <p>Politechnika jest moim życiem i krulem</p>
            </div>
        </div>
    </div>
</div>